/venv/
.idea
/deploy.sh
__pycache__/
/build/
/dist/
/soco_cli.egg-info/
*.pyc
/README.md.orig.*
/README.md.toc.*
/exploration
/audio_files
/examples
/.mypy_cache
/.pytest_cache
soco_cli/tts_text.mp3
rj_soco_cli.egg-info/
soco_cli/bongo.mp3
speak_text.mp3
