/venv/
.idea
/deploy.sh
__pycache__/
/build/
/dist/
/soco_cli.egg-info/
*.pyc
/README.md.orig.*
/README.md.toc.*
/exploration
/audio_files
/examples
/.mypy_cache
/.pytest_cache
rj_soco_cli.egg-info/
soco_cli/*.mp3
*.mp3
